.u-section-1 .u-sheet-1 {
  min-height: 893px;
}

.u-section-1 .u-text-1 {
  margin: 76px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 32px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -45px 34px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1108px;
  margin: 34px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 660px;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 10px;
}

.u-section-1 .u-image-1 {
  width: 148px;
  height: 148px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  width: 250px;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 0 45px;
  padding: 10px 70px 10px 69px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 10px;
}

.u-section-1 .u-image-2 {
  width: 148px;
  height: 148px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  width: 250px;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 0 45px;
  padding: 10px 70px 10px 69px;
}

.u-section-1 .u-container-layout-3 {
  padding: 7px 10px;
}

.u-section-1 .u-image-3 {
  width: 148px;
  height: 148px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  width: 250px;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 0 45px;
  padding: 10px 70px 10px 69px;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 10px;
}

.u-section-1 .u-image-4 {
  width: 148px;
  height: 148px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  width: 250px;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 0 45px;
  padding: 10px 70px 10px 69px;
}

.u-section-1 .u-container-layout-5 {
  padding: 7px 10px;
}

.u-section-1 .u-image-5 {
  width: 148px;
  height: 148px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  width: 250px;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 0 45px;
  padding: 10px 70px 10px 69px;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 10px;
}

.u-section-1 .u-image-6 {
  width: 148px;
  height: 148px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  width: 250px;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 0 45px;
  padding: 10px 70px 10px 69px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 560px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 975px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}