 .u-section-1 {
  background-image: none;
  min-height: 823px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 228px);
  height: 825px;
  margin: -1px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  margin: -779px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 5px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.25rem;
  margin: -5px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: -227px auto 0 calc(((100% - 1140px) / 2) + 289px);
}

.u-section-1 .u-group-1 {
  width: 346px;
  background-image: none;
  min-height: 168px;
  height: auto;
  margin: 25px calc(((100% - 1140px) / 2) + 75px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 33px auto 0;
}

.u-section-1 .u-group-2 {
  width: 346px;
  background-image: none;
  min-height: 168px;
  height: auto;
  margin: -166px auto 0 calc(((100% - 1140px) / 2) + 289px);
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 13px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 28px auto 0 69px;
}

.u-section-1 .u-group-3 {
  width: 346px;
  background-image: none;
  min-height: 159px;
  margin: 15px auto 0 calc(((100% - 1140px) / 2) + 289px);
}

.u-section-1 .u-container-layout-3 {
  padding: 16px 11px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 19px auto 0;
}

.u-section-1 .u-group-4 {
  width: 346px;
  background-image: none;
  min-height: 168px;
  height: auto;
  margin: -157px calc(((100% - 1140px) / 2) + 75px) 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 13px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 33px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 37px auto 0 calc(((100% - 1140px) / 2) + 289px);
}

.u-section-1 .u-table-1 {
  width: 813px;
  margin: 19px calc(((100% - 1140px) / 2) + 39px) 27px auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  border-style: solid;
}

.u-section-1 .u-table-cell-22 {
  border-style: solid;
}

.u-section-1 .u-table-cell-23 {
  border-style: solid;
}

.u-section-1 .u-table-cell-24 {
  border-style: solid;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 328px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -809px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 389px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 38px;
    margin-right: calc(((100% - 1140px) / 2) + 175px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 1140px) / 2) + 389px);
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 14px;
    margin-left: calc(((100% - 1140px) / 2) + 389px);
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 1140px) / 2) + 175px);
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: calc(((100% - 1140px) / 2) + 389px);
  }

  .u-section-1 .u-table-1 {
    margin-right: calc(((100% - 1140px) / 2) + 139px);
    margin-bottom: 41px;
  }

  .u-section-1 .u-table-cell-25 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 431px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2) + 285px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 1140px) / 2) + 295px);
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 1140px) / 2) + 295px);
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -32px;
    margin-right: calc(((100% - 1140px) / 2) + 285px);
  }

  .u-section-1 .u-text-10 {
    margin-top: -88px;
    margin-left: calc(((100% - 1140px) / 2) + 499px);
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 528px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 466px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2) + 375px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 104px;
    margin-right: calc(((100% - 1140px) / 2) + 375px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -224px;
    margin-left: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 628px);
    margin-top: -22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -790px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -14px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -221px;
    margin-left: calc(((100% - 1140px) / 2) + 505px);
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-top: 233px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-10 {
    margin-top: -353px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}