.u-section-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1 .u-text-1 {
  margin: 44px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-list-1 {
  margin: 30px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 375px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 66px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 30px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 66px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 30px 30px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-6 {
  margin: 66px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 30px 30px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-text-8 {
  margin: 66px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 30px 30px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 309px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -324px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 361px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -376px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 266px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -281px;
    margin-right: initial;
    margin-left: initial;
  }
}