 .u-section-1 {
  min-height: 1447px;
}

.u-section-1 .u-image-1 {
  height: 153px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.3);
}

.u-section-1 .u-text-1 {
  margin: -103px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 86px calc(((100% - 1140px) / 2) + 779px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-text-3 {
  margin: 20px calc(((100% - 1140px) / 2) + 779px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: -320px calc(((100% - 1140px) / 2) + 31px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 317px;
  height: 633px;
  margin: -300px calc(((100% - 1140px) / 2) + 351px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 300px;
  height: 300px;
  margin: -313px calc(((100% - 1140px) / 2) + 31px) 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -261px calc(((100% - 1140px) / 2) + 779px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-text-5 {
  margin: 12px calc(((100% - 1140px) / 2) + 779px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-text-6 {
  margin: 35px calc(((100% - 1140px) / 2) + 779px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-text-7 {
  margin: 12px calc(((100% - 1140px) / 2) + 779px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-image-5 {
  height: 574px;
  filter: brightness(0.3);
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: -509px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 129px 118px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1654px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -102px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 679px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 679px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -466px;
    margin-right: calc(((100% - 940px) / 2) + -18px);
  }

  .u-section-1 .u-image-3 {
    width: 323px;
    height: 646px;
    margin-top: -310px;
    margin-right: calc(((100% - 940px) / 2) + 305px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -300px;
    margin-right: calc(((100% - 940px) / 2) + -18px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-right: calc(((100% - 940px) / 2) + 679px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -138px;
    margin-right: calc(((100% - 940px) / 2) + 679px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -129px;
    margin-right: calc(((100% - 940px) / 2) + 679px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 175px;
    margin-right: calc(((100% - 940px) / 2) + 679px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1447px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 569px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 459px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -772px;
    margin-right: calc(((100% - 720px) / 2) + -18px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + 305px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + -18px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 380px;
    margin-right: calc(((100% - 720px) / 2) + 569px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -330px;
    margin-right: calc(((100% - 720px) / 2) + 569px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -217px;
    margin-right: calc(((100% - 720px) / 2) + 569px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 459px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -479px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 479px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 279px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -1324px;
    margin-right: calc(((100% - 540px) / 2) + -18px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + 217px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + -18px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 932px;
    margin-right: calc(((100% - 540px) / 2) + 479px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -192px;
    margin-right: calc(((100% - 540px) / 2) + 479px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -1123px;
    margin-right: calc(((100% - 540px) / 2) + 479px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 279px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -515px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 379px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 79px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -5980px;
    margin-right: calc(((100% - 340px) / 2) + -18px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 340px) / 2) + 17px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + -18px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 5588px;
    margin-right: calc(((100% - 340px) / 2) + 379px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -782px;
    margin-right: calc(((100% - 340px) / 2) + 379px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -6601px;
    margin-right: calc(((100% - 340px) / 2) + 379px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 79px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -611px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 214px;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
  }
}